
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row my-5">
        <div class="col-md-8 col-xs-12">
            <div style="height:500px">
                <img class="loader" src="~/Public/images/imgload.gif" width="100%" height="100%" data-src="/Public/images/terms/1.jpg" />
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <h3 class="text-center my-3">Hüquqi Məlumat</h3>
            <h6 style="color:black">Saytda yerləşdirilimiş bütün məlumatlar birbaşa obyekt rəhbərləri tərəfindən göndərilmiş və təsdiq edilmiş məlumatlardır. Göstərilən qiymət, məlumat və şəkillərə sayt rəhbərliyi tərəfindən heçbir əlavə və dəyişiklik olunmur. Saytda olan məlumatların rəhbərlik tərəfindən razılıq müqaviləsi olmadan götürülməsi qadağandır. Saytda olan məlumatlardan istifadə etdikdə istinad və keçid linki vermək zəruridir. Bütün hüquqlar Azərbaycan Respunlikasının Qanunvericiliyinə uyğun olaraq qorunur.</h6>
            <div style="color:white;text-align:right">
                <a href="/about/index" class="btn btn-info my-3">Haqqımızda</a>
            </div>
        </div>
    </div>
</div>