/*Defaults*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
a{
    color:white;
}
a:hover{
    color:white;
    text-decoration:none;
}
body {
    font-family: 'Lora', serif;
    color: #0089bd;
    letter-spacing: .6px;
    background: #f6f6f6
}
#loadingDiv {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: rgba(0, 0, 0, 0.25) no-repeat center center;
    background-image: url(../images/preloader.gif);
}
.layout {
    font-family: 'Merriweather', serif;
    transition: all .4s ease;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #00bdbb57;
    transform: translateY(-100%);
    top: 0;
    left: 0;
    color: white;
    font-size: 2em;
    text-shadow: 9px 8px 0px rgba(0,0,0,0.15);
}

.imglayout {
    background-color: rgba(3,3,68,.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.paper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.paper::-webkit-scrollbar {
    width: 10px;
}

.paper::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #00bdbb;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, to(transparent));
}

