@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row my-5">
        <div class="col-md-4 col-xs-12">
            <h3 class="text-center my-4">Haqqımızda</h3>
            <h6 style="color:black;">Otelim.az yerli turizm obyektlərinin tanıdılması, istifadəçilərə daha rahat tətil imkanları və seçimləri vermək üçün yaradılmış turizm layihəsidir.. Saytın əsas məqsədi hər bir yaş qrupundan və fərqli maraq sahibi istifadəçilərin daha rahat tətil planı qurması, heç bir yerə getmədən, sadəcə sayt vasitəsi ilə otel, istirahət mərkəzi, ev, tur və bütün turizm obyekti tapmaq həmçinin bron etməkdir.</h6>
            <div style="color:white;text-align:right">
                <a href="/contact/index" class="btn btn-info my-3">Bizimlə əlaqə</a>
            </div>
        </div>
        <div class="col-md-8 col-xs-12">
            <div style="height:500px">
                <img class="loader" src="~/Public/images/imgload.gif" width="100%" height="100%" data-src="/Public/images/about/blue.png" />
            </div>
        </div>

    </div>
</div>
